
<footer class="footer">
  <div class="content">
    <p class="is-size-4 is-size-5-mobile is-line-height-5">
      <b>FRAKT</b>-<br>
      BESTILLING
    </p>
    <div class="is-no-style">
      <div>
        <a class="has-text-underlined" href="/article/omfraktbestilling"> Om Fraktbestilling</a>
      </div>
      <div>
        <a class="has-text-underlined"> Ofte stilte spørsmål</a>
      </div>
      <div>
        <a class="has-text-underlined"> Vilkår</a>
      </div>
      <div>
        <a class="has-text-underlined">  Personvern</a>
      </div>
      <div>
        <a class="has-text-underlined">  Kontakt oss</a>
      </div>
    </div>
  </div>
  <div class="columns  is-gapless">
    <div class="column is-1">
      <img src="img/flag_yellow_low.jpg" width="56.74px" height="37.76px"></img>
    </div>
    <div class="column is-6">
      <div class="is-size-7">This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 876581.</div>
    </div>
    <div class="column  is-6">
    </div>
  </div>


</footer>

<script src="/app.js"></script>
