
  <section class="section columns has-background-primary is-hero-section is-marginless is-vcentered">
    <div class="column is-6">
      <div class="bedrift_animation-0" id="bedrift_animation-0"></div>
    </div>
    <div class="column is-6 hero">
      <div class="hero-body">
        <h2 class="title is-spaced is-1 has-text-weight-normal has-text-white has-text-centered-mobile has-text-left">
          <span class="has-text-weight-bold">{{.title}}</span>
        </h2>

        <p class="subtitle is-7  has-text-yellow has-text-centered-mobile has-text-left">
          <a class="has-text-yellow has-vertical-align-text-bottom" href="https://app.fraktbestilling.no/register">{{.subtitle}}</a>
          <span class="icon is-small">
            <i class="fal fa-chevron-right"></i>
          </span>
        </p>
      </div>

    </div>
  </section>

