
  <section class="section columns reverse-columns has-background-primary is-marginless-top">
    <div class="column">
      <div class="bedrift_animation-0" id="bedrift_animation-0"></div>
    </div>
    <div class="column">
      <h2 class="title is-spaced is-1 has-text-weight-normal has-text-white has-text-left-mobile has-text-right">
        <span>{{.title}}</span>
        <span class="has-text-weight-bold">{{.titlebold}}</span>
      </h2>

      <p class="subtitle is-7 has-text-white has-text-weight-semibold">
        {{.subtitle}} </p>
    </div>
  </section>

