<nav class="navbar is-expanded" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h2 class="is-size-4 is-size-5-mobile is-line-height-5"><b>FRAKT</b>-<br>
      BESTILLING</h2>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
       <span class="icon">
        <i class="fas fa-bars"></i>
      </span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div class="columns is-gapless">
            <div class="column is-centered">
              <a class="button is-no-style" href="https://business-test.nimber.com/register">
                <strong>Bli kunde</strong>
              </a>
            </div>
            <div class="column is-centered">
              <a class="button is-outlined" href="https://business-test.nimber.com/login">
                Logg inn
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-navbar-menu navbar-menu--mobile" id="navbarBasic">
    <div class="has-text-centered mt-xxlarge">
      <ul>
        <li>
          <a class="has-text-white is-size-5" href="https://business-test.nimber.com/register">
            Bli kunde
          </a>
        </li>
        <li>
          <a class="has-text-white is-size-5" href="https://business-test.nimber.com/login">
            Logg inn
          </a>
        </li>
        <li>
          <a class="has-text-white is-size-5" > Om FraktBestilling</a>
        </li>
        <li>
          <a class="has-text-white is-size-5" > Ofte stilte spørsmål</a>
        </li>
        <li>
          <a class="has-text-white is-size-5" > Vilkår</a>
        </li>
        <li>
          <a class="has-text-white is-size-5" >  Personvern</a>
        </li>
        <li>
          <a class="has-text-white is-size-5" >  Kontakt oss</a>
        </li>
      </ul>
    </div>

  </div>

</nav>

