<nav class="navbar is-expanded" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h2 class="logo">
      <b>Fraktbestilling<span class="has-text-navy-blue">.</span></b>no
    </h2>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
       <span class="icon">
        <i class="fal fa-bars"></i>
      </span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="">
          <a class="button is-no-style" href="https://business.nimber.com/register">
            <strong>Bli kunde</strong>
          </a>
          <a class="button is-outlined" href="https://business.nimber.com/login">
            Logg inn
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-navbar-menu navbar-menu--mobile" id="navbarBasic">
    <div class="has-text-centered mt-xxlarge">
      <ul>
        <li>
          <a class="is-size-5" href="https://business.nimber.com/register">
            Bli kunde
          </a>
        </li>
        <li>
          <a class="is-size-5" href="https://business.nimber.com/login">
            Logg inn
          </a>
        </li>
        <li>
          <a class="is-size-5"  href="/article/omfraktbestilling" > Om Fraktbestilling</a>
        </li>
        <li>
          <a class="is-size-5" > Ofte stilte spørsmål</a>
        </li>
        <li>
          <a class="is-size-5" >  Kontakt oss</a>
        </li>
      </ul>
    </div>

  </div>

</nav>
