
<section class="section columns  has-background-secondary is-marginless reverse-columns is-vcentered">

  <div class="column">
    <h2 class="title is-spaced is-2 is-white has-text-weight-bold has-text-centered-mobile">
      <span>{{.title}}</span>
      <span class="has-text-weight-bold">{{.titlebold}}</span>
    </h2>
    <p class="subtitle is-7 is-white has-text-weight-semibold has-text-centered-mobile">
      {{.text}}
  </div>
  <div class="column has-text-right">
    <div class="bedrift_animation-2" id="bedrift_animation-2"></div>
  </div>



</section>
