
<section class="section  is-desktop columns has-background-secondary">

  <div class="column">
    <h2 class="title is-spaced is-3  has-text-white is-size-3-mobile has-text-weight-normal">
      {{.title}}
    </h2>
    <h2 class="title is-spaced is-1 has-text-weight-normal has-text-blue is-size-2-mobile">
      {{.titlebold}}
    </h2>
    <p class="subtitle is-5 has-text-white has-text-weight-semibold">
      {{.text}}
  </div>
  <div class="column">
    <div class="bedrift_animation-1"></div>
  </div>



</section>
