$primary: #2E79BA;
$secondary:  #5C95CF;
$white: #fff;
$warm-gray:  #4D5051;
$warm-gray3:  #E7E1DC;
$light-gray: #F2F2F2;
$light-blue: #0099FE;
$navy-blue: #9ED9FF;

$nimberColors: (
"primary": ($primary, $white),
"secondary": ($secondary, $white),
"blue": (#0D194E, #0D194E),
"navy-blue":  ($navy-blue, $white),
"light-blue":  ($light-blue, $white)
);

$colors: mergeColorMaps($colors, $nimberColors)
