$primary: #2E79BA;
$secondary:  #69A8ED;
$white: #fff;
$warm-gray:  #4D5051;
$warm-gray3:  #E7E1DC;
$light-gray: #F8F7F5;
$light-blue: #0099FE;
$navy-blue: #9ED9FF;
$yellow:  #FFD277;
$black: #1d1d1f;

$nimberColors: (
"primary": ($primary, $white),
"bright": ($white, $white),
"secondary": ($secondary, $white),
 "yellow": ( $yellow, $white),
"blue": (#0D194E, #0D194E),
"navy-blue":  ($navy-blue, $white),
"light-blue":  ($light-blue, $white)
);

$colors: mergeColorMaps($colors, $nimberColors)
