.navbar {
  .navbar-burger {
    &.is-active {
      z-index: 100;
      color: white;
      span {
        transform: translateX(10px) translateY(5px) rotate(90deg);
      }
    }
    span{
      background-color: transparent;
    }
  }
  @include mobile{
    padding: 30px 36px;
  }

  padding: 28px 80px;
  .button{
    font-size: 18px;
  }
}
.custom-navbar-menu {
  height: 0;
  top: 0;
  left: 0;
  visibility: hidden;
  position: fixed;
  opacity:0;
  transition:opacity 0.3s linear, height 0.3s linear;
  li {
    display: block;
    height: 25%;
    min-height: 50px;
    position: relative;
    opacity: 0;
  }

  &.is-active {
    li {
      animation: fadeInRight 0.8s ease forwards;
      animation-delay: .1s;
    }
    background-color: $light-blue;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity:1;
    visibility: visible;
    .button {
      color: white;
      border: none;
      background-color: transparent;
      outline: none;
    }
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


