.content ul {
  list-style: none;
}
a{
  &:hover {
    text-decoration: underline;
    color: white;
  }
}
.is-1 {
  line-height: 72px;
  @include fullhd {
    line-height: 80px;
  }
}
.is-line-height-5{
  line-height: 30px;
}

.is-line-height-7{
  line-height: 28px;
}

.is-size-8 {
  font-size: 16px;
}

.is-size-xlarge {
  font-size:250px;
  line-height: 250px;
}

.is-white {
  color:white;
}
.has-vertical-align-text-bottom {
  vertical-align: text-bottom;
}
a {
  &.has-decoration-none {
    &:hover {
      text-decoration: none;
    }
  }
}
.article {
  a {color: black;
    &:hover {
      color: black;
    }}
}
