.content ul {
  list-style: none;
}
.is-1 {
  line-height: 72px;
  @include fullhd {
    line-height: 80px;
  }
}
.is-line-height-5{
  line-height: 30px;
}
.title {
  @include mobile {
    line-height: 40px;
  }
}
.is-size-xlarge {
  font-size:250px;
  line-height: 250px;
}
a.has-text-underlined {
  text-decoration: underline;
}
