$family-primary:'proxima-nova', sans-serif;
$size-5: 1rem !default;
$size-6: 0.9rem !default;
$size-7: 0.7rem !default;
$size-4: 1.25rem !default;
$size-3: 1.5rem !default;
$size-2: 3.1rem !default;
$size-1: 4.5rem !default;
