$family-primary:'proxima-nova', sans-serif;
$size-8: 0.8rem !default;
$size-7: calc(20px + 0.25vw) !default;
$size-6: 1.4rem !default;
$size-5: 1.6rem !default;
$size-4: 2.1rem !default;
$size-3: calc(28px + 1vw) !default; //Header 2
$size-2: 4.5vw !default;//Header 1
$size-1: 6.5vw !default; //Display
$body-font-size: calc(18px + 0.25vw);
$body-line-height: 1.5;
$title-color: #1d1d1f;
$subtitle-line-height: 1.25;
$subtitle-negative-margin:0;
$weight-normal: 400;
$weight-bold: 700;
$weight-semibold: 600;
$body-color: #1d1d1f;
$subtitle-color: #1d1d1f;
$section-padding: 64px 64px;
$footer-padding: 64px 64px;
$footer-background-color: #F8F7F5;
$footer-color: #1d1d1f;
$card-shadow:none;
$card-header-shadow: none;
$card-header-padding:0;
$card-content-padding: 0em 0em 2em 0em;
$card-header-padding: 1.2em 0;
$card-header-weight: 400;
$card-radius: 0;
$hero-body-padding:0;
$link: white;
$link-hover: white;
$spacing-values: ("no": 0,"xsmall": 0.5rem, "small": 1rem, "standard": 1.6rem, "large": 3.2rem, "xlarge": 4rem , "xxlarge": 7.5rem );


