{{ define "main" }}

  <div class="section article">
    <div class="columns is-variable">

      <div class="column is-8">
        <h1 class="has-text-weight-semibold">{{.Title}}</h1>

      </div> <div class="column is-4"></div>
    </div>
    <div class="columns is-variable  mt-xlarge">
      {{ range first 2  (where .Pages ".Title" "not in" (slice "Brukervilkar" "Kontakt oss" "Omfraktbestilling")) }}
         <div class="column">
            {{ .Render "li"}}
         </div>
      {{ end }}
    </div>
    <div class="columns is-variable mt-xlarge">
      {{ range first 3 (after 2 (where .Pages ".Title" "not in" (slice "Brukervilkar" "Kontakt oss" "Omfraktbestilling"))) }}
      <div class="column">
        {{ .Render "li"}}
      </div>
      {{ end }}
    </div>
    <div class="columns is-variable mt-xlarge">
      {{ range first 3 (after 5 (where .Pages ".Title" "not in" (slice "Brukervilkar" "Kontakt oss" "Omfraktbestilling"))) }}
      <div class="column">
        {{ .Render "li"}}
      </div>
      {{ end }}
    </div>
  </div>

{{end}}
