{{ define "main" }}

  <div class="section">
    <div class="columns">
      <div class="column is-9">
        <h1 class="title is-spaced is-1 has-text-weight-normal has-text-blue is-size-4-mobile">{{.Params.heading}}</h1>
        <p class="subtitle is-7 has-text-blue has-text-weight-semibold">
          {{ .Params.subheading }}
        </p>
        {{ if .Params.cta_text }}<a class="button is-primary" href="#">{{.Params.cta_text}}</a>{{ end }}
      </div>

    </div>

    <div>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
    </div>

    <div class="columns">
      <div class="column is-9">
          {{ .Content }}
      </div>
    </div>
    <div class="columns">
      <div class="column is-9">
        {{ range $index, $element := .Params.Topics }}
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                {{$element.title}}
              </p>
              <span class="card-header-icon" aria-label="more options" data-target="card-content-{{$index}}">
                <span class="icon">
                  <i class="fal fa-plus" aria-hidden="true"></i>
                </span>
              </span>
            </header>
            <div class="card-content is-hidden" id="card-content-{{$index}}">
              <div class="content">
                {{$element.text}}
              </div>
            </div>
          </div>
        {{ end }}
        <div class="mt-xlarge">
          {{ if .Params.cta_text }}<a class="button is-primary" href="#">{{.Params.cta_text}}</a>{{ end }}
        </div>

      </div>
    </div>
  </div>
{{ end }}
