{{ define "main" }}

  <div class="section article">
    <div class="columns  is-marginless">
      <div class="column is-3 cta-column">
        {{ if .Params.cta_text }}
          <div class="sticky">
              <img src="{{.Params.cta_icon}}">
              <p class="cta-paragraph">{{.Params.cta_paragraph}}</p>
              <a href="{{.Params.cta_link}}" class="mt-standard button is-outlined">{{.Params.cta_text}}</a>
          </div>
        {{ end }}
      </div>
      <div class="column is-8">
        <h1 class="has-text-weight-semibold">{{.Params.heading}}</h1>
        <p class="subtitle is-7  has-text-weight-semibold">
          {{ .Params.subheading }}
        </p>
        {{ if .Params.author }}
          {{ range $index, $element := .Params.author }}
            <article class="media mb-large">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img class="is-rounded" src="{{$element.authorpicture }}">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                   <small><strong>{{$element.authorname }}</strong></small>
                    <br>
                    <small class="has-text-light-gray">
                      {{ dateFormat "02. January 2006" $element.date }}</small>
                  </p>
                </div>
              </div>
            </article>
          {{ end }}
        {{ end }}
      </div>
      <div class="column is-1">
      </div>
    </div>
    {{ if .Params.image }}
    <div class="columns mt-standard">
      <div class="column is-3">
      </div>
      <div class="column is-8">
        <img src="{{ .Params.image }}" class="image-header" alt="{{ .Title }}" />
      </div>
      <div class="column is-1">
      </div>
    </div>
    {{ end }}
    <div class="columns  is-marginless">
      <div class="column is-3">
      </div>
      <div class="column is-8">
          {{ .Content }}
      </div>
      <div class="column is-1">
      </div>
    </div>
    <div class="columns  is-marginless">
      <div class="column is-3">
      </div>
      <div class="column is-8">
        <h3>{{.Params.TopicsTitle}}</h3>
        {{ range $index, $element := .Params.Topics }}
          <div class="card">
            <header class="card-header" data-target="card-content-{{$index}}">
              <span class="card-header-title">
                {{$element.title}}
              </span>
              <span class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fal fa-plus" aria-hidden="true"></i>
                </span>
              </span>
            </header>
            <div class="card-content is-hidden" id="card-content-{{$index}}">
              <div class="content">
                {{$element.text}}
              </div>
            </div>
          </div>
        {{ end }}
      </div>
      <div class="column is-1">
      </div>
    </div>
    {{ if .Params.cta_text }}

      <div class="columns mt-large is-hidden-desktop is-hidden-tablet-only">
        <div class="column cta-column">
          <img src="{{.Params.cta_icon}}">
          <p class="cta-paragraph">{{.Params.cta_paragraph}}</p>
          <a href="{{.Params.cta_link}}" class="mt-standard button is-outlined">{{.Params.cta_text}}</a>
        </div>
      </div>

    {{ end }}

    <div class="columns is-variable" id="cards">
        {{ range $index, $element := .Params.Cards }}
        <div class="column  mt-large">
          <div class="tile">
            <div class="card-image">

              <p><a href="{{$element.link}}">
                <img src="{{ $element.image }}" class="cover"/></a>
                <a href="{{$element.link}}"><strong>{{$element.boldText}}</strong>&nbsp;
                <span class="has-text-light-gray">{{$element.text}}</span></a></p>
            </div>
          </div>
        </div>
        {{ end }}
    </div>
  </div>
{{ end }}
