
/*
 *
 *    TABLE OF CONTENTS
 *
 *
 */

/* External Library Includes */
@import 'src/css/imports/_variables.scss';
@import "~bulma/sass/utilities/_all.sass";

@import 'src/css/imports/_colors.scss';
/* Modules */
@import '~bulma';
h1{font-size:3.6rem; }
h2{font-size:3.1rem;}
h3{font-size: 2.4rem;}
h4{font-size: 1.8rem;}
h5{font-size: 1.6rem;}
h6 {font-size: 1rem;}

@import 'src/css/imports/_buttons.scss';
@import 'src/css/imports/_typography.scss';
@import 'src/css/imports/_navbar.scss';
@import 'src/css/imports/_card.scss';

html {
  font-size: 20px;
  @include mobile{
    .section{
      padding: 32px 32px;

      .title.is-1 {
        line-height: 40px;
      }
      .title.is-3 {
        line-height: 1.6rem;
      }
      .title.is-4 {
        line-height: 1.5rem;
      }
    }
    .navbar {padding: 28px 32px 28px 32px;}
    .footer {padding: 60px 32px 40px 32px;}
  }
  @include tablet-only {
    .section {
      padding: 48px 48px;
    }
    .footer {padding: 60px 48px 40px 48px;}
    .navbar {padding: 28px 48px 28px 48px;}
    .title.is-1 {
      font-size: 2.4rem;
      line-height: 2.4rem;
    }
    .title.is-4 {
      line-height: 1.8rem;
      font-size: 1.8rem;
    }
    .title.is-3 {
      line-height: 1.8rem;
      font-size: 1.8rem;
    }
  }
  @include desktop-only {
    .section {
      padding: 64px 64px;
    }
    .footer {padding: 60px 64px 40px 64px;}
    .navbar {padding: 28px 64px 28px 64px;}
    .title.is-1 {
      line-height: 65px;
    }
    .title.is-4 {
      line-height: 2.1rem;
    }
  }
  @include widescreen {
    .section {
      padding:80px 80px;
    }
    .footer {padding: 60px 80px 40px 80px;}
    .navbar {padding: 28px 80px 28px 80px;}
    .title.is-1 {
      line-height: 86px;
      font-size: 94px;
    }
    .title.is-3 {
      line-height: 64px;
      font-size: 64px;
    }
    .title.is-4 {
      line-height: 48px;
      font-size: 48px;
    }
    .subtitle.is-7 {
      font-size: 22px;
    }
  }
  @include fullhd {
    .section {
      padding:120px 120px;
    }
    .footer {padding: 60px 120px 40px 120px;}
    .navbar {padding: 28px 120px 28px 120px;}
    .title.is-1 {
      line-height: 86px;
      font-size: 94px;
    }
    .title.is-3 {
      line-height: 64px;
      font-size: 64px;
    }
    .title.is-4 {
      line-height: 48px;
      font-size: 48px;
    }
    .subtitle.is-7 {
      font-size: 22px;
    }
  }
}


@media (max-width: 768px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }


}
/* Uncomment out the line below to help debug layout issues */
/*@import './imports/_debug';*/
