
/*
 *
 *    TABLE OF CONTENTS
 *
 *
 */

/* External Library Includes */
@import 'src/css/imports/_variables.scss';
@import "~bulma/sass/utilities/_all.sass";

@import 'src/css/imports/_colors.scss';
/* Modules */
@import '~bulma';

.column {
  padding: 0;
}

h1{font-size: 4.5vw;line-height: 0.95;margin-bottom: 24px;font-weight: 600;}
h2{font-size: 5.5vw; line-height: 5.5vw;font-weight: 600;}
h3{font-size: calc(20px + 0.25vw);line-height: 1.1;font-weight: 700;}
h4{font-size: 1.8rem;}
h5{font-size: 1.6rem;}
h6 {font-size: 1rem;}
small {font-size: 16px;}

.footer {
  a {
    color: $black;
    &:hover {
      color: $black;
    }
  }
}
.article {
  ul {
    list-style-type: disc;
    margin: 1em;
  }
  p{
    margin-top: 24px;
  }
  ol {
    list-style: decimal;
    margin: 1em;
  }
  .cover {
    object-fit: cover;
  }
  blockquote {
    margin: 1.5em 10px;
    padding: 0 10px;
    background-image: url(/img/quotes.png);
    background-position: middle left;
    background-repeat: no-repeat;

  }
  blockquote p {
    &:first-of-type{
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      color: black;
      margin-top: 0;
      margin-left: 80px;

    }
  }
  blockquote p {
    &:nth-of-type(2){
      color: #6E6E6E;
      margin-left: 80px;
      font-size: 18px;
    }

  }
  .cta-paragraph {
    font-size: 18px;
    width: 182px;
  }
  .image-header{
    border-radius: 16px;
  }
  .card-container {
    width: 100%;
    aspect-ratio: 16/9;
    p{
      &:first-of-type {
        margin-top: 16px;
        margin-left: 6px;
      }
    }
    img{
      border-radius: 8px;
      height:260px;
    }

  }

}

.bedrift_background-1 {
  background-image: url('/img/background_1.png');
  height: 278px;
  width: 376px;
  margin-top: -50px;
  margin-left: 41px;
  background-repeat: no-repeat;
  background-size: contain;
}
.bedrift_background-2 {
  background-image: url('/img/background_2.png');
  margin-left: -20px;
  margin-top: -10px;
  height: 327px;
  width: auto;
  background-repeat: no-repeat;
  background-size: contain;
}
.title.is-3 {
  line-height: 3.5vw;
}
.title.is-1 {
  line-height: 6vw;
}
.title.is-2 {
  line-height: 4.5vw;
}
.logo {
  font-size: 3.5vw;
  color: $black;
  &:hover{
    color: $black;
    text-decoration: none;
  }
}

@import 'src/css/imports/_buttons.scss';
@import 'src/css/imports/_typography.scss';
@import 'src/css/imports/_navbar.scss';
@import 'src/css/imports/_card.scss';

html {
  .main-container {
    max-width: 1920px;
    margin: auto;
  }
  .is-marginless-top {
    margin-top: 0;
  }
  word-break: normal;
  .title {
    word-break: normal;
  }
  .bedrift_animation-2 {
    position: relative;
    left: 60px;
  }
  .article {
    h3, h5 {
      margin-bottom: 8px;
    }
    h2{
      margin-bottom: 12px;
    }
    h1, h2, h3, h4
    {
      & + p
      {
        margin-top: 0
      }
    }
    .sticky {
      position: fixed;
    }

  }

  @include mobile{

    font-size: 18px;
    .navbar-burger {
      height: 18.078125px;
      width: 23px;

    }
    .logo {
      font-size: 24px;
      line-height: 28px;
    }

    .bedrift_background-1 {
      position: relative;
      background-position: center center;
      width: 214px;
      height: 161px;
      margin: 2px auto 28px auto;
    }
    .bedrift_background-2 {
      position: relative;
      width: 293px;
      height: 188px;
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
    }
    .bedrift_animation-1 {
      position: relative;
      bottom: 40px;
    }
    .bedrift_animation-2{
      position: relative;
      left: 0;
      height: 154px;
      margin-bottom: 25px;
    }

    .section{
      padding: 32px 32px;

      &.has-background-secondary {
        padding-bottom: 64px;
      }
      //Display
      .title.is-1{
        line-height: 40px;
        font-size: 40px;
        margin-bottom: 12px;
      }
      //Header 1
      .title.is-2, h1 {
        line-height: 1.6rem;
        font-size: 36px;
      }
      //Header 2
      .title.is-3, h2 {
        line-height: 1.5rem;
        font-size: 28px;
      }
      //Header 3
      h3 {
        font-size: 20px;
        line-height: 1.1;
      }
      //Lead
      .subtitle.is-7 {
        font-size: 20px;
        line-height: 1.25;
      }

      &.article{
        padding-top: 48px;
        padding-bottom: 120px;
        .tile {
          margin-bottom: 32px;
        }
        .cta-column {
          width: 100%;
          text-align: center;
          .cta-paragraph {
            width: 100%;
          }
        }
        .sticky {
          display: none;
        }

        h3, h5 {
          margin-top: 32px;
        }
        h2 {
          margin-top: 64px;
        }
      }

    }
    .navbar-brand, .navbar-menu {padding: 28px 32px 28px 32px;}
    .footer {padding: 32px 32px 32px 32px;}
    .is-size-5 {
      font-size: 24px !important;
    }
  }
  @include tablet-only {
    .navbar-burger {
      display: inline-table;
      height: auto;
      width: auto;
      margin-top: 20px;
    }
    .bedrift_background-2 {
      width: auto;
      height: 194px;
    }
    .bedrift_animation-2 {
      height: 194px;
    }
    .bedrift_animation-1 {
      position: relative;
      left: 10px;
    }
    .section {
      padding: 48px 48px;
    }
    .footer {padding: 64px 48px 64px 48px;}
    .navbar-brand, .navbar-menu {padding: 28px 48px 28px 48px;}
    .article {
      padding-top: 80px;
      padding-bottom: 120px;
      h3, h5 {
        margin-top: 48px;
        margin-bottom:8px;
      }
      h2 {
        margin-top: 64px;
      }
    }

  }
  @include desktop-only {
    .section {
      padding: 64px 64px;
    }
    .footer {padding: 64px 64px 64px 64px;}
    .navbar-brand, .navbar-menu {padding: 28px 64px 28px 64px;}
    .bedrift_animation-2 {
      height: 286px;
      left: 35px;
    }
    .bedrift_animation-1 {
      position: relative;
      bottom: 80px;
      left: 40px;
    }
    .bedrift_background-2 {
      height: 286px;
      left: 35px;
    }
    .article {
      padding-top: 120px;
      padding-bottom: 160px;
      h3, h5 {
        margin-top: 48px;
      }
      h2 {
        margin-top: 64px;
      }
    }
  }
  @include widescreen {
    .bedrift_animation-2 {
      position: relative;
      height: 331px;
      left: 60px;
    }
    .bedrift_animation-1 {
      position: relative;
      bottom: 80px;
      left: 40px;
    }
    .section {
      padding:80px 80px;
      &.is-hero-section{
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
    .footer {padding: 64px 80px 64px 80px;}
    .navbar-brand, .navbar-menu {padding: 28px 80px 28px 80px;}
    .article {
      padding-top: 120px;
      padding-bottom: 160px;
      h3, h5 {
        margin-top: 48px;
      }
      h2 {
        margin-top: 64px;
      }
    }


  }
  @include fullhd {
    .section {
      padding:120px 120px;
    }
    .footer {padding: 64px 120px 64px 120px;}
    .navbar-brand, .navbar-menu {padding: 28px 120px 28px 120px;}


    .logo {
      font-size: 36px;
    }
  }

  @media screen and (min-width: 1600px){
    font-size: 22px;
    //Display
    .title.is-1 {
      line-height: 86px;
      font-size: 96px;
    }
    //header 1
    .title.is-2, h1 {
      line-height: 72px;
      font-size: 72px;
    }
    //header 2
    .title.is-3, h2 {
      line-height:48px;
      font-size: 48px;
    }
    //header 3
    h3 {
      font-size: 26px;
      line-height: 1.1;
    }
    //lead
    .subtitle.is-7 {
      font-size: 26px;
      line-height: 1.25;
    }
    .article{
      h3, h5 {
        margin-top: 48px;
      }
      h2 {
        margin-top: 64px;
      }
    }

  }

}

@media (max-width: 768px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }


}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    .navbar,.footer {
      background: rgba(255, 255, 255, 0.08);
      color: white;
    }
    .logo {
      color: white;
      &:hover {
        color: white;
      }
    }
    .article, .footer {
      a {
        color: white;
        &:hover {
          color: white;
        }
      }
    }

    --text-color: white;
    --bkg-color: #121212;
    background: black;
    .subtitle.is-7 {
      color: white;
    }
    color: white;
    .title{
      color: $navy-blue !important;
    }
    .title.is-2{
      color: $black !important;
    }
    .subtitle, .navbar-item a {
      color: white;
    }
    .custom-navbar-menu.is-active {
      background: #180233;
    }
  }

}
/* Uncomment out the line below to help debug layout issues */
/*@import './imports/_debug';*/
