
/*
 *
 *    TABLE OF CONTENTS
 *
 *
 */

/* External Library Includes */
@import 'src/css/imports/_variables.scss';
@import "~bulma/sass/utilities/_all.sass";

@import 'src/css/imports/_colors.scss';
/* Modules */
@import '~bulma';
h1{font-size:4.5rem; }
h2{font-size:3.1rem;}
h3{font-size: 2.4rem;}
h4{font-size: 1.8rem;}
h5{font-size: 1.6rem;}
h6 {font-size: 1rem;}
@import 'src/css/imports/_buttons.scss';
@import 'src/css/imports/_typography.scss';
@import 'src/css/imports/_navbar.scss';

html {
  font-size: 20px;
  @include mobile{
    .section, .footer {
      padding: 45px 26px;
    }
  }
  @include tablet-only {
      .section, .footer {
        padding: 60px 40px;
      }
  }
}

.is-size-4-mobile {
  font-size: 1.8rem!important;
}


@media (max-width: 979px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }


}
/* Uncomment out the line below to help debug layout issues */
/*@import './imports/_debug';*/
